/* ArticlesIndex.css */
.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article {
  width: 200px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
}

.article-title {
  font-size: 1em; /* Adjust the font size for the title */
  margin-bottom: 5px;
}

.article-description {
  font-size: 0.8em; /* Adjust the font size for the description */
  margin-bottom: 10px;
}

/* Add this style to make the article title smaller */
.article-title-small {
  font-size: 0.9em; /* Adjust the font size for the article title */
  font-weight: bold;
  margin-bottom: 3px;
}

.article-description-small {
  font-size: 0.5em;
  margin-bottom: 5px;
}

.article {
  cursor: pointer;
}