:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Add this CSS to your existing styles */
.animated-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 2s ease; /* Adjust the duration (1s) as needed */
}

.visible {
  opacity: 1;
  transform: translateY(0);
}



a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #05d363;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #05d363;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #05d363;
  }
  button {
    background-color: #05d363;
  }
}

/* Add this CSS to your existing styles */
.animated-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}


.btn-secondary {
    background-color: #05d363;
    border: solid;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    }

.btn-secondary:hover {
    background-color: white;
    color: #05d363;
    border-color: #05d363;
    }
.more-info-text:hover {
  color: #05d363;
  border-color: #05d363;
}    

  .button-login {
    background-color: #05d363;
    color: #eef1f6;
  }
  
  .button-signup {
    background-color: #05d363;
    color: #eef1f6;
  }
  
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    }
/* Add this CSS to make the image smaller */
  .header-image {
    max-height: 60px; /* Adjust the value as needed */
    width: auto; /* Maintain aspect ratio */
    }

    .nav-link:hover {
      color: #05d363;
      background-color: #1389f1;
      
    }

    .navbar-brand,
    .navbar-nav,
    .nav-link { 
      font-family: "Roboto", sans-serif;
    }
        
    /* Additional styling for the first blank section */
    .hp-title {
      font-size: 2em;
      text-align: center;
    }
    
    .hp-line {
      font-size: 2.5em;
      text-align: center;
    }
    
    .hp-co-text {
      font-size: 1.2em;
      text-align: center;
      margin-bottom: 50px;
    }

    /* Additional styling for the second News API section */
    /* .text-3xl {
      margin-top: 20px;
      border: 1px solid #ddd; 
    } */
    
    /* Additional styling for the third and fourth blank sections */
    /* Add any additional styling for the blank sections */


    .homepage-section-1 {
      background-color: #1389f1;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      font-style: normal;
      color: white;
    }

    .more-info-button-container {
      border-color: #05d363;
    }

    .job-news-title {
      font-weight: bold;
      color: #1389f1;
    }
/* Add this CSS to your existing styles */
    .card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px; /* Adjust the gap between cards as needed */
    }

    .small-card {
      flex: 0 0 calc(15% - 20px); /* Adjust the width of each card and gap */
      max-width: calc(25% - 20px); /* Adjust the max-width of each card and gap */
      max-height: 600px;
      box-sizing: border-box;
    }

    .card .card-title {
      font-size: 1.0em; /* Adjust the value as needed */
      font-weight: bold; /* You can adjust the font weight if necessary */
    }

    /* Your global stylesheet or a new stylesheet */
    .card .card-text {
      max-height: 150px; /* Adjust the value as needed */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: break-word;
    }
    
    .card .btn-secondary {
      padding: 0.7em 0.8em; /* Adjust padding to make the button smaller */
      font-size: 0.9em; /* Adjust font size to make the button smaller */
    }

    /* Optional: Center the "Read More" button horizontally */
    .card .btn-secondary {
      margin: 0 auto;
    }

    .page-footer ul.list-unstyled a {
      color: #eef1f6;
    }

    .page-footer {
      background-color: #001d38;
    }

    .page-footer .footer-logo-name {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: #eef1f6;
    }

    /* Your global stylesheet or a new stylesheet */
    .footer-wrapper {
      margin-top: 100px; /* Adjust the margin-top value as needed */
    }

    .page-footer .footer-logo {
      max-height: 80px; /* Adjust the value as needed */
      width: auto; /* Maintain aspect ratio */
      filter: brightness(0) invert(1);
    }

    .big-blue-header {
      background-color: #1389f1;
      color: white;
      padding: 50px;
    }


    .workers-image-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .upload-resume-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
      margin-bottom: 50px;
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;  
    }

    .upload-resume-button {
      background-color: #05d363;
      color: white;
      font-weight: bold;
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    }

    .upload-resume-button:hover {
      background-color: #1389f1;
      color: #05d363;
    }

    .update-profile-button{
      background-color: #05d363;
      color: white;
      font-weight: bold;
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    }

    .update-profile-button:hover {
      background-color: white;
      color: #05d363;
    }

    .hp-second-content-container {
      position: relative; /* Make the container a positioning context */
      display: flex;
      align-items: center;
      /* max-width: 600px; Adjust the max-width based on your design */
      /* width: 100%; Ensure it takes the full width of the parent container */
      /* margin-left: 150px;
      margin-bottom: 200px;
      margin-top: 50px; */
    }

    .hp-second-section-text {
      color: #05d363;
      display: flex;
      justify-content: center;
      word-wrap: break-word;
      max-width: 500px;
      text-align: center;
      margin: 0 auto;
      font-weight: bold;
      margin-left: 500px;
      white-space: nowrap;
    }

    .homepage-section-2-right {
      /* margin-left: 200px; */
      margin-right: 100px;
      /* width: 250%; */
      /* height: auto; */
      /* margin-left: 500px; */
    }

    .second-section-img {
      display: flex;
      justify-content: left;
      width: 400px;
      max-width: 100%;
      height: auto;
    }

    .second-section-img-right {
      display: flex;
      width: 400px;
      max-width: 400px;
      height: auto;
      margin-top: 40px;
    }

    .hp-second-image-left {
      margin-right: 20px; /* Adjust the margin as needed */
    }



    .hp-second-left-text-container {
      display: flex;
      justify-content: center;
    }

    .hp-second-right-text-container {
      display: flex;
      justify-content: center;
    }

    .hp-second-text-header {
      color: #333e49;
      font-size: 25px;
      margin-left: 50px;
      margin-top: 10px;
    }

    .hp-findandsave {
      display: flex;
      font-size: 25px;
      color: rgb(254, 83, 10);
      font-weight: bold;
      justify-content: center;
    }

    .hp-evalcol {
      display: flex;
      font-size: 25px;
      color: rgb(78, 78, 181);
      font-weight: bold;
      justify-content: center;
      margin-top: -65px;
    }

    .hp-left-subheader {
      display: flex;
      font-size: 20px;
      justify-content: center;
      font-weight: bold;
      word-wrap: break-word;
      max-width: 400px;
      margin: 0 auto;
      color: #333e49;
    }

    .hp-right-subheader {
      display: flex;
      font-size: 20px;
      justify-content: center;
      font-weight: bold;
      word-wrap: break-word;
      max-width: 400px;
      margin: 0 auto;
      color: #333e49;
    }

    .hp-left-text {
      display: flex;
      font-size: 20px;
      justify-content: center;
      word-wrap: break-word;
      max-width: 300px;
      margin: 0 auto;
      margin-top: 10px;
      font-weight: normal;
      color: #333e49;
    }

    .hp-right-text {
      display: flex;
      font-size: 20px;
      justify-content: center;
      word-wrap: break-word;
      max-width: 300px;
      margin: 0 auto;
      margin-top: 10px;
      color: #333e49;
    }

    /* Additional styling for the second section */
.homepage-section-2-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Adjust the max-width based on your design */
  margin: 0 auto;
}




.hp-second-left-text-container {
  display: flex;
  justify-content: center;
}

.hp-second-text-header {
  color: #333e49;
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}


    .saved-job-modal-remove-button {
      background: #d1114d;
      border: none;
      display: flex;
      color: #eef1f6;
      margin-top: 10px;
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    }

    .saved-job-modal-remove-button:hover {
      background: white;
      border: solid;
      display: flex;
      color: #d1114d;
      margin-top: 10px;
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;  
    }

    .saved-job-modal-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .culture-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 600px;
      height: 400px;
    }

    .create-job-button {
      background-color: #05d363;
      color: white;
      font-weight: bold;
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
      margin-top: 10px;
    }

    .create-job-button:hover {
      background-color: white;
      color: #05d363;
    }

    .contactus-title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 60px;
    }

    .contactus-image-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .contact-us-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 600px;
      height: 400px;
    }

    .contactus-logo-img-title-container {
      display: flex;
      align-items: left;
      justify-content: left;
    }

    .contactus-logo-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 150px;
    }

    .contactus-logo-title {
      display: flex;
      align-items: left;
      justify-content: left;
      margin-top: 150px;
      margin-left: -125px;
    }

    .contact-info-section {
      display: flex;
      align-items: right;
      justify-content: right;
    }

    .copyright {
      display: flex;
      margin-left: 50px;
    }