:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #05d363;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #05d363;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #05d363;
  }
  button {
    background-color: #05d363;
  }
}

.btn-secondary {
    background-color: #05d363;
  }

  .button-login {
    background-color: #05d363;
    color: #eef1f6;
  }
  
  .button-signup {
    background-color: #05d363;
    color: #eef1f6;
  }
  
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    }
/* Add this CSS to make the image smaller */
  .header-image {
    max-height: 60px; /* Adjust the value as needed */
    width: auto; /* Maintain aspect ratio */
    }

    .nav-link:hover {
      color: #05d363;
    }

    .navbar-brand,
    .navbar-nav,
    .nav-link { 
      font-family: "Roboto", sans-serif;
    }
        
    /* Additional styling for the first blank section */
    .hp-title {
      font-size: 2em;
      text-align: center;
    }
    
    .hp-line {
      font-size: 1.5em;
      text-align: center;
    }
    
    .hp-co-text {
      font-size: 1em;
      text-align: center;
      margin-bottom: 50px;
    }

    /* Additional styling for the second News API section */
    .text-3xl {
      margin-top: 20px;
      border: 1px solid #ddd; 
    }
    
    /* Additional styling for the third and fourth blank sections */
    /* Add any additional styling for the blank sections */

    .divider {
      width: 100%;
      height: 5px;
      background-color: green; /* Color of the dividing line */
      margin: 20px 0; /* Adjust the margin to control the space above and below the dividing line */
    }

    .homepage-section-1 {
      background-color: #1389f1;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      font-style: normal;
      color: white;
    }
    
    .page-footer ul.list-unstyled a {
      color: #eef1f6;
    }

    .page-footer {
      background-color: #001d38;
    }

    .page-footer .footer-logo-name {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: #eef1f6;
    }

    /* Your global stylesheet or a new stylesheet */
    .footer-wrapper {
      margin-top: 100px; /* Adjust the margin-top value as needed */
    }

    .page-footer .footer-logo {
      max-height: 80px; /* Adjust the value as needed */
      width: auto; /* Maintain aspect ratio */
      filter: brightness(0) invert(1);
    }

    .big-blue-header {
      background-color: #1389f1;
      color: white;
      padding: 50px;
    }


    .workers-image-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .upload-resume-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
      margin-bottom: 50px;
  
    }
    .upload-resume-button {
      background-color: #05d363;
      color: white;
    }
