.modal-background {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  max-width: 600px;
  height: 80vh;
  max-height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1em;
  overflow-y: auto;
}

.modal-main button.close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2em;
  background: #05d363;
  border: none;
  width: 1rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eef1f6;
}

.modal-main button.close:hover {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2em;
  background: white;
  border: solid;
  width: 1rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #05d363;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;  
}


.modal-SaveJob-button {
  background: #05d363;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
}

.modal-SaveJob-button:hover {
  background: white;
  border: solid;
  color: #05d363;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;  
}

.modal-update-button {
  background: #407c87;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eef1f6;
  margin-top: 10px;
}

.modal-update-button:hover {
  background: white;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #407c87;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;  
}

.modal-remove-button {
  background: #d1114d;
  border: none;
  display: flex;
  margin-left: auto;
  color: #eef1f6;
  margin-top: 10px;
}

.modal-remove-button:hover {
  background: white;
  border: solid;
  display: flex;
  margin-left: auto;
  color: #d1114d;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;  
}

.modal-update-destroy-section {
  border-top: 2px solid black;
  margin-top: 10px;
}

.modal-button-container {
  display: flex;
  justify-content: space-between; /* Adjust this as needed */
  margin-top: 10px; /* Adjust this as needed */
}
