.modal-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1em;
}

.modal-main button.close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2em;
  background: #407c87;
  border: none;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eef1f6;
}

.modal-update-button {
  /* position: absolute; */
  /* top: 0.5em;
  right: 0.5em;
  font-size: 2em; */
  background: #407c87;
  border: none;
  /* width: 3rem;
  height: 3rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eef1f6;
  margin-top: 10px;
}

.modal-destroy-button {
  /* position: absolute; */
  /* top: 0.5em;
  right: 0.5em;
  font-size: 2em; */
  background: #d1114d;
  border: none;
  /* width: 3rem;
  height: 3rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eef1f6;
  margin-top: 10px;
}

.modal-update-destroy-section {
  border-top: 2px solid black;
  margin-top: 10px;
}

